.clients {
    padding-top: 100px;
    padding-bottom: 100px;

    &__img {
        width: 70%;
        height: 80%;
        margin: 0 auto;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
            transition: 0.3s linear;
        }
    }

    &__block {
        text-align: center;
    }
}