.nav {
    display: flex;
    justify-content: space-between;

    &__logo {
        border: 5.54px solid #170f1c;
        padding: 0 4px;
    }

    &__name {
        text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
        font-family: 'Montserrat';
        font-weight: 700;
        line-height: 28px;
        color: black;
        font-size: 17px;
    }

    &__span {
        color: #77efe5;
        font-size: 21px;
    }

    &__burger {
        cursor: pointer;
    }

    i {
        font-size: 30px;
        opacity: 0.6;
    }
}